<div class="container">
  <div class="section-heading text-center text-lg-start">
    <h2>ABOUT</h2>
  </div>
  <div class="row gy-4">
    <div class="col-lg-5">
      <div class="about-left">
        <div class="about-avatar">
          <img src="assets/img/about-banner.png" title="" alt="" />
        </div>
        <h3>Tobias Bielmann</h3>
        <p>IT Business Engineer</p>
        <div class="btn-bar">
          <a class="px-btn" href="javascript:">
            Download CV <i class="bi-download"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-7 ps-xl-5">
      <div class="about-bio">
        <p>
          Born in 2000, AB type living in USA. We provide on-screen design for
          websites and apps, as well as front-end implementation. We will
          continue to pursue a wide range of expressions and better code by
          pursuing our “likes”.
        </p>
        <div class="about-exp">
          <blockquote>
            <i class="fa-solid fa-quote-left"></i>
            <p>
              "The difference between who you are and who you want to be is what
              you do"
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
