<div class="container">
  <div class="section-heading">
    <h2>Skills</h2>
  </div>

  <div class="skills-container">
    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-wordpress.png" alt="" />
        <h3>WordPress</h3>
      </div>
      <p class="skill-remark">
        hallo kannst du eine Bemerkung zu deinen WordPress-Fähigkeiten machen.
      </p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-adobe.png" alt="" />
        <h3>Adobe</h3>
      </div>
      <p class="skill-remark">
        Hier kannst du eine Bemerkung zu deinen Angular-Fähigkeiten machen.
      </p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-microsoft-365.png" alt="" />
        <h3>Microsoft 365</h3>
      </div>
      <p class="skill-remark">
        Hier kannst du eine Bemerkung zu deinen Microsoft 365-Fähigkeiten
        machen.
      </p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="assets/img/logo-r-studio.png" alt="" />
        <h3>R Studio</h3>
      </div>
      <p class="skill-remark">
        Hier kannst du eine Bemerkung zu deinen Python-Fähigkeiten machen.
      </p>
    </div>

    <div class="skill-column">
      <div class="skill">
        <img src="path/to/r-logo.png" alt="R Logo" />
        <h3>R</h3>
      </div>
      <p class="skill-remark">
        Hier kannst du eine Bemerkung zu deinen R-Fähigkeiten machen.
      </p>
    </div>
  </div>
</div>
